div{
  background-color: pink;
  color: blue;
  }

#kakku{
  width:100%;
  text-align: center;
}  
ul{
  list-style: none;
}


#Koira{
  width:90%;
}

#merkinta{
  width:91% ;
  background-color: black;
  color: white;
}  

#moro{
  background-color: black;
  color: white;
  width: 92%
}

body{
  background-color: gray;
}

#nappi{
  text-align: center;
}

#ruoka{
  background-color: gray;
}

#nappula{
  width: 92%
}


#kentta{
  width: 70%
}

#kentta2{
  width: 70%
}

#makkaraperunat{
  background-color: grey;
  color: black;
}

#seppo{
  background-color: gray;
}